<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link th:href="@{/style.css}" rel="stylesheet" />
<link th:href="@{/paginiation/pagination.css}" rel="stylesheet" />
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
	integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:src="@{/paginiation/jquery.simplePagination.min.js}"></script>

<script th:src="@{/index.js}" type="text/javascript"></script>

<body style="overflow: auto;">

	<!-- BEGIN Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-cus d-flex justify-content-between">
		<div>
			<a class="navbar-brand" th:href="@{'/admin'}"><img style="width: 103.7px; height: 22px;"
					src="https://coderthemes.com/hyper/saas/assets/images/logo.png"></a>
		</div>


		<div>
			<a href="#">
				<form th:action="@{/logout}" th:method="post">
					<button type="submit" class="btn btn-primary" style="font-size: inherit;color: #fff;">Đăng xuất</button>
				</form>
			</a>
		</div>
	</nav>
	<!-- END Navbar -->
	<div class="d-flex">
	<div style="width: 242px;">
	<div class="sidebar">
		<ul class="nav-links">
			<li>
				<div class="iocn-link">
					<a href="#">
						<i class='bx bx-collection'></i>
						<span class="link_name">Danh mục</span>
					</a>
					<i class='bx bxs-chevron-down arrow'></i>
				</div>
				<ul class="sub-menu">
					<li><a th:href="@{'/admin/categories/add'}">Thêm </a></li>
					<li><a th:href="@{'/admin/categories/search'}">Danh sách</a></li>
				</ul>
			</li>
			<li>
				<div class="iocn-link">
					<a href="#">
						<i class='bx bx-book-alt'></i>
						<span class="link_name">Nhà cung cấp</span>
					</a>
					<i class='bx bxs-chevron-down arrow'></i>
				</div>
				<ul class="sub-menu">
					<li><a th:href="@{'/admin/supplier/add'}">Thêm</a></li>
					<li><a th:href="@{'/admin/supplier/search'}">Danh sách</a></li>
				</ul>
			</li>
			<li>
				<div class="iocn-link">
					<a href="#">
					<i class='bx bx-pie-chart-alt-2'></i>
						<span class="link_name">Quyền, tài khoản</span>
					</a>
					<i class='bx bxs-chevron-down arrow'></i>
				</div>
				<ul class="sub-menu">
					<li><a th:href="@{'/admin/role/create'}">Thêm quyền</a></li>
					<li><a th:href="@{'/admin/role/search'}">Danh sách quyền</a></li>
					<li><a th:href="@{'/admin/role/createUser'}">Tạo tài khoản</a></li>
					<li><a th:href="@{'/admin/role/user'}">Danh sách tài khoản</a></li>
				</ul>
			</li>
			
			<li>
				<div class="iocn-link">
					<a href="#">
						<i class='bx bxs-t-shirt' ></i>
						<span class="link_name">Sản phẩm</span>
					</a>
					<i class='bx bxs-chevron-down arrow'></i>
				</div>
				<ul class="sub-menu">
					<li><a th:href="@{'/admin/products/add'}">Thêm</a></li>
					<li><a th:href="@{'/admin/products/search'}">Danh sách</a></li>
				</ul>
			</li>

			<li>
				<div class="iocn-link">
					<a th:href="@{/admin/rate/list}">
						<i class='bx bx-star' ></i>
						<span class="link_name">Đánh giá</span>
					</a>
				</div>
			</li>
			<li>
				<div class="iocn-link">
					<a th:href="@{/admin/order}">
						<i class='bx bx-package' ></i>
						<span class="link_name">Đơn hàng</span>
					</a>
				</div>
			</li>
		</ul>


		<script>
			let arrow = document.querySelectorAll(".arrow");
			for (var i = 0; i < arrow.length; i++) {
				arrow[i].addEventListener("click", (e) => {
					let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
					arrowParent.classList.toggle("showMenu");
				});
			}

		</script>
	</div>
	</div>
	<div class="admin-content" layout:fragment="content"></div>
	</div>



</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

</html>