<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/admin-layout">

<head>
	<meta charset="ISO-8859-1">
	<title>Add Product</title>
    <style>
        .form-group{
            height: 40px;
            display: flex;
            flex-direction: row;
        }
        label{
            width: 200px;
        }
    </style>
</head>

<body>
	<div layout:fragment="content">
		<h1>Create Product</h1>
        <h2 style="color: red;" th:if="${message != null}">
            <span th:text="${message}"></span>
        </h2>
        <form id="addProductForm" class="addform" enctype="multipart/form-data">
            <div class="form-group">
                <label>Product Name: </label>
                <input th:value = "${form.name}" type="text" name="name" class="form-control name" placeholder="Product Name">
            </div>
            <div class="form-group">
                <label>Description: </label>
                <input th:value = "${form.description}" type="text" name="description" class="form-control description" placeholder="Description">
            </div>
            <div class="form-group">
                <label>Import Price: </label>
                <input th:value = "${form.importPrice}" type="number" name="importPrice" class="form-control importPrice" placeholder="Import Price">
            </div>
            <div class="form-group">
                <label>Product Price: </label>
                <input th:value = "${form.price}" type="number" name="price" class="form-control price" placeholder="Product Price">
            </div>
            <div class="form-group">
                <label>Discount Percent: </label>
                <input th:value = "${form.discountPercent}" type="number" name="discountPercent" class="form-control discountPercent" placeholder="Discount Percent">
            </div>
            <div class="form-group">
                <label>Category Name: </label>
                <input th:value = "${form.category}" type="text" name="category" class="form-control category" placeholder="Category Name">
            </div>
            <div class="form-group">
                <label>Supplier Name: </label>
                <input th:value = "${form.suppilier}" type="text" name="suppilier" class="form-control suppilier" placeholder="Supplier Name">
            </div>
            <div>
                <label for="fileInput">Image(max : 10Mb)</label>
                <input name="multipartFiles" class="form-control multipartFiles" type="file" id="fileInput" multiple />
                <div id="imagePreview" style="display: flex; flex-wrap: wrap;"></div>
            </div>
            <div class="form-group">
				<button class="btn btn-primary" type="submit">
					Create
				</button>
			</div>
            
            
        </form>
        <script>
            const uploadImage = document.querySelector('.multipartFiles');
            uploadImage.addEventListener('change', function(event) {
                const imagePreviewDiv = document.getElementById('imagePreview');
                imagePreviewDiv.innerHTML = ''; // Xóa bỏ các ảnh trước đó

                const files = event.target.files;
                for (let i = 0; i < files.length; i++) {
                    const file = files[i];
                    const img = document.createElement('img');
                    img.src = URL.createObjectURL(file);
                    img.style.width = '150px';
                    img.style.height = '150px';
                    img.style.margin = '10px';
                    imagePreviewDiv.appendChild(img);
                }
            });

            
            const form = document.querySelector("#addProductForm");
            form.addEventListener('submit',(e) =>{
                e.preventDefault();
                const fileInput = document.querySelector('#fileInput');
                const formData = new FormData();
                formData.append('name', document.querySelector('.name').value);
                formData.append('description', document.querySelector('.description').value);
                formData.append('importPrice', document.querySelector('.importPrice').value);
                formData.append('price', document.querySelector('.price').value);
                formData.append('discountPercent', document.querySelector('.discountPercent').value);
                formData.append('category', document.querySelector('.category').value);
                formData.append('suppilier', document.querySelector('.suppilier').value);
                for (let i = 0; i < fileInput.files.length; i++) {
                    formData.append('multipartFiles', fileInput.files[i]);
                }
                var nameValue = formData.get('name');
                console.log(nameValue);

                var fileInputs = formData.getAll('multipartFiles');
                console.log(fileInputs);
                postProductFormData('/admin/api/v1/products',formData)
                .then(response => {
                    window.location.href = "/admin/products/search";
                }).catch()
            })
        </script>
    </div>
</body>
</html>
