<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/admin-layout">

<head>
	<meta charset="UTF-8">
	<title>Show Products List</title>

</head>

<body>
	<div layout:fragment="content">
		<h1>Users Products List</h1>
        <form id="product-filter-form">
			<div class="form-group">
				<input class="form-control" name="name" placeholder="Search by Product Name" />
			</div>
			<button class="btn btn-primary" type="submit">Search</button>


		</form>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Product Name</th>
					<th>Description</th>
                    <th>Import Price</th>
                    <th>Product Price</th>
                    <th>Discount Percent(%)</th>
                    <th>Category Name</th>
                    <th>Supplier Name</th>
					<th>Created Date</th>
					<th>Created By</th>
					<th>Latest Date Modified</th>
					<th>Modifier By</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody id="productList">

			</tbody>
		</table>
		<div id="demo" style="display: flex; justify-content: flex-end;"></div>


		<script>
			const searchForm = document.querySelector('#product-filter-form');
			const limit = 2;
			let formValue = {};

			searchForm.addEventListener('submit', (e) => {
				e.preventDefault();
				formValue = formToObject('#product-filter-form');
				console.log(formValue);
				getProductsAndRender({
					page: 1,
					limit: limit,
				})

			})

			const _$ = $;

			showPagination({
				totalItems: 1,
				limit,
				currentPage: 1,
				onPageClick: () => { }
			})

			function renderProducts(products) {
				let html = '';
				for (const product of products) {
					html += `
						<tr id="product_${product.productId}">
							<td>${product.productId}</td>						
							<td>${product.name}</td>						
							<td>${product.description}</td>
							<td>${product.importPrice}</td>								
							<td>${product.price}</td>								
							<td>${product.discountPercent}</td>								
							<td>${product.category}</td>								
							<td>${product.suppilier}</td>								
							<td>${product.createDate}</td>						
							<td>${product.createBy}</td>						
							<td>${product.modifierDate}</td>						
							<td>${product.modifierBy}</td>		
							<td>
								<a href="/admin/products/${product.productId}">
									<button class="btn btn-primary">Cập nhật</button>
									
								</a>
								<button onclick="deleteProduct(${product.productId})" class="btn btn-danger">xóa</button>
							</td>				
						</tr>
					`;
				}
				document.querySelector("#productList").innerHTML = html;
			}

			function deleteProduct(productId) {
				console.log(productId)
				const isConfirm = confirm('Bạn có chắc muốn xóa sản phẩm này không');
				console.log(isConfirm);
				if (isConfirm) {
					callDelete('/admin/api/v1/products/' + productId)
						.then(res => {
							const productElement = document.querySelector('#product_' + productId);
							productElement.remove();
						})
				}
			}
			
			function getProductsAndRender({page, limit}) {
				get(`/admin/api/v1/products`, {
					page,
					limit,
					...formValue
				})
					.then(pageDto => {
						console.log(pageDto);
						renderProducts(pageDto.data);
						_$("#demo").pagination("destroy");
						const {page, totalItems, limit} = pageDto;
						showPagination({
							totalItems,
							limit,
							currentPage: page,
							onPageClick: function (pageNumber) {
								getProductsAndRender({page: pageNumber, limit})
								console.log(pageNumber)
							}
						})
					})
			}


			getProductsAndRender({
				page: 1,
				limit: limit
			});

		</script>
    </div>
</body>
</html>