<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/admin-layout">

<head>
	<meta charset="ISO-8859-1">
	<title>Add Product</title>
    <style>
        .form-group{
            height: 40px;
            display: flex;
            flex-direction: row;
        }
        label{
            width: 200px;
        }
        img{
            width: 200px;
            height: 200px;
            border-radius: 20px;
            margin-right: 3px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
	<div layout:fragment="content">
        <form id="updateProductForm">
            <input name="productId" th:value = "${product.productId}" type="hidden">
            <div class="form-group">
                <label>Product Name: </label>
                <input th:value = "${product.name}" type="text" name="name" class="form-control name" placeholder="Product Name">
            </div>
            <div class="form-group">
                <label>Description: </label>
                <input th:value = "${product.description}" type="text" name="description" class="form-control description" placeholder="Description">
            </div>
            <div class="form-group">
                <label>Import Price: </label>
                <input th:value = "${product.importPrice}" type="number" name="importPrice" class="form-control importPrice" placeholder="Import Price">
            </div>
            <div class="form-group">
                <label>Product Price: </label>
                <input th:value = "${product.price}" type="number" name="price" class="form-control price" placeholder="Product Price">
            </div>
            <div class="form-group">
                <label>Discount Percent: </label>
                <input th:value = "${product.discountPercent}" type="number" name="discountPercent" class="form-control discountPercent" placeholder="Discount Percent">
            </div>
            <div class="form-group">
                <label>Category Name: </label>
                <input th:value = "${product.category}" type="text" name="category" class="form-control category" placeholder="Category Name">
            </div>
            <div class="form-group">
                <label>Supplier Name: </label>
                <input th:value = "${product.suppilier}" type="text" name="suppilier" class="form-control suppilier" placeholder="Supplier Name">
            </div>
            <div class="form-group">
				<button class="btn btn-dark" type="submit">
					save
				</button>
			</div>
        </form>
        <h3 style="font-weight:600;">Update Image</h3>
        <form id="updateImageForm" enctype="multipart/form-data">
            <div id="previewImages"></div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupFileAddon01">Add Images</span>
                </div>
                <div class="custom-file">
                    <input type="file" aria-describedby="inputGroupFileAddon01" class="custom-file-input" multiple id="addImage" style="margin-top: 40px;">
                  <label class="custom-file-label" for="addImage">Choose Image</label>
                </div>
            </div>
            <div id="imagePreview" style="display: flex; flex-wrap: wrap;"></div>
            <button type="submit" class="btn btn-dark">Save</button>
        </form>
        <a style="color: rgb(0, 17, 255); font-size: 30px;margin-top: 20px;" href="/admin/products/search">Back to List -></a>
        

        <script th:inline="javascript">
            //update form
            const updateFrom = document.querySelector("#updateProductForm")
			updateFrom.addEventListener('submit', (e) => {
				e.preventDefault();
				const updateFormValue = formToObject("#updateProductForm")
				const {productId} = updateFormValue;
				put("/admin/api/v1/products/"+productId, updateFormValue)
				.then(product => {
					 alert("Update successfully")
				})
			})
            /*<![CDATA[*/
            const product = /*[[${product}]]*/ null;
            /*]]>*/

            //render image
            const previewImages = document.querySelector('#previewImages');
            for (const image of product.imageDTOs) {
                const img = document.createElement('img');
                img.src = image.url;
                img.className = 'image_' + image.imageId;
                previewImages.appendChild(img);
                const btn_delete = document.createElement('button');
                btn_delete.textContent = 'X';
                btn_delete.className = 'btn';
                btn_delete.id = image.imageId;
                btn_delete.classList.add('btn-danger');
                btn_delete.classList.add('delete_image');
                btn_delete.classList.add('image_' + image.imageId);
                btn_delete.style.position = 'relative';
                btn_delete.style.right = '50px';
                btn_delete.style.bottom = '83px';
                btn_delete.style.scale = '0.7';
                previewImages.appendChild(btn_delete);
            }
            
            //delete event
            const deleteImageButtons = document.querySelectorAll('.delete_image');
            deleteImageButtons.forEach(button => {
                button.addEventListener('click', (e) => {
                    e.preventDefault();
                    const clickedButtonId = e.target.id;
                    console.log(clickedButtonId);

                    deleteImage('/admin/api/v1/products/deleteImage/'+clickedButtonId)
                    .then(res => {
                        const deleteImageElement = document.querySelectorAll('.image_'+ clickedButtonId);
                        deleteImageElement.forEach(a => {
                            a.remove();
                        })

                    }
                    )
                });
            });
            //render new Images
            const inputNewImages = document.getElementById('addImage');
            inputNewImages.addEventListener('change', function(event) {
                const imagePreviewDiv = document.getElementById('imagePreview');
                imagePreviewDiv.innerHTML = ''; // Xóa bỏ các ảnh trước đó

                const files = event.target.files;
                for (let i = 0; i < files.length; i++) {
                    const file = files[i];
                    const img = document.createElement('img');
                    img.src = URL.createObjectURL(file);
                    img.style.width = '150px';
                    img.style.height = '150px';
                    img.style.margin = '10px';
                    imagePreviewDiv.appendChild(img);
                }
            });
            //add image 
            const form = document.querySelector('#updateImageForm');
            form.addEventListener('submit',(e) => {
                e.preventDefault();
                const fileInput = document.querySelector('#addImage');
                const formData = new FormData();
                formData.append('productId',product.productId);
                for (let i = 0; i < fileInput.files.length; i++) {
                    formData.append('multipartFiles', fileInput.files[i]);
                }
                postProductFormData('/admin/api/v1/products/addImages',formData)
                .then(response => {
                    
                })
                setTimeout(function() {
                    window.location.reload();
                }, 500);
            })


            
            
        </script>
    </div>
</body>
</html>