<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/auth/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/auth/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{/auth/css/style.css}">
    <!-- End layout styles -->
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3">Register</h3>
                <form id="createUser">
                  <div class="form-group">
                    <label>Họ</label>
                    <input type="text" class="form-control p_input" name="firstName">
                  </div>
                  <div class="form-group">
                    <label>Tên</label>
                    <input type="text" class="form-control p_input" name="lastName">
                  </div>
                  <div class="form-group">
                    <label>Số điện thoại</label>
                    <input type="text" class="form-control p_input" name="phoneNumber">
                  </div>
                  <div class="form-group">
                    <label>Tên đăng nhập</label>
                    <input type="text" class="form-control p_input" name="username">
                  </div>
                  <div class="form-group">
                    <label>Mật khẩu</label>
                    <input type="password" class="form-control p_input" name="password">
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block enter-btn">Đăng kí</button>
                  </div>
                  <div class="d-flex">
                    <button class="btn btn-facebook col mr-2">
                      <i class="mdi mdi-facebook"></i> Facebook </button>
                    <button class="btn btn-google col">
                      <i class="mdi mdi-google-plus"></i> Google plus </button>
                  </div>
                  <p class="sign-up text-center">Có tài khoản?<a th:href="@{/login}">Đăng nhập</a></p>
<!--                  <p class="terms">By creating an account you are accepting our<a href="#"> Terms & Conditions</a></p>-->
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <script th:src="@{/auth/vendors/js/vendor.bundle.base.js}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script th:src="@{/auth/js/off-canvas.js}"></script>
    <script th:src="@{/auth/js/hoverable-collapse.js}"></script>
    <script th:src="@{/auth/js/misc.js}"></script>
    <script th:src="@{/auth/js/settings.js}"></script>
    <script th:src="@{/auth/js/todolist.js}"></script>
    <script th:src="@{/index.js}"></script>
    <script>
      let form = document.getElementById("createUser");
      form.addEventListener("submit",(e)=>{
        e.preventDefault()
        const formValue = formToObject("#createUser")
        post("/api/v1/users/signUp",formValue)
                .then(x => {
                  window.location.href="/login"
                })
      })
    </script>
    <!-- endinject -->
  </body>
</html>