<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/user-layout">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="user-content" layout:fragment="content">
        <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">Cart</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active text-white">Cart</li>
            </ol>
        </div>
        <!-- Single Page Header End -->

        <!-- Cart Page Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="table-responsive" >
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Tên</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Tiền</th>
                            <th scope="col">Xóa</th>
                        </tr>
                        </thead>
                        <tbody class="carts" th:each="cart : ${cartDTOS}">
                            <tr th:id="'cart_'+${cart.cartId}" class="cart_items">
                                <th scope="row">
                                    <div class="d-flex align-items-center">
                                        <img th:src="${cart.product.imageDTOs[0].url}" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                                    </div>
                                </th>
                                <td>
                                    <p class="mb-0 mt-4" th:text="${cart.product.name}"></p>
                                </td>
                                <td>
                                    <p class="mb-0 mt-4 price" th:text="${cart.product.price}"></p>
                                </td>
                                <td>
                                    <div class="input-group quantity mt-4" style="width: 100px;">
                                        <div class="input-group-btn">
                                            <button th:onclick="'updateQuantity(\'-\','+${cart.cartId}+','+${cart.product.price}+')'" th:id="'desc_'+${cart.cartId}" class="desbtn btn btn-sm btn-minus rounded-circle bg-light border">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <input type="number" class="form-control form-control-sm text-center border-0 quantityCart" th:id="'quantity_'+${cart.cartId}" th:value="${cart.quantity}" min="1" readonly>
                                        <div class="input-group-btn">
                                            <button th:onclick="'updateQuantity(\'+\','+${cart.cartId}+','+${cart.product.price}+')'" class="btn btn-sm btn-plus rounded-circle bg-light border">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="mb-0 mt-4 toTal" th:id="'totalPro_'+${cart.cartId}"></p>
                                </td>
                                <td>
                                    <button class="btn btn-md rounded-circle bg-light border mt-4 " th:onclick="'deleteCart('+${cart.cartId}+')'" >
                                        <i class="fa fa-times text-danger"></i>
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-danger" style="margin-left: 87%;" onclick="deleteAllCart(this)" th:if="${!(#lists.isEmpty(cartDTOS))}">Xóa tất cả</button>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Địa chỉ</label>
                        <select class="form-control addresses"  >
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Mô tả</label>
                        <textarea type="email" class="form-control description" id="exampleInputEmail1" aria-describedby="emailHelp"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Phương thức thanh toán</label>
                        <select class="form-control" id="method"  >
                            <option value="vnpay">VNpay</option>
                            <option value="momo">Momo</option>
                        </select>
                    </div>
                </div>
                <div class="mt-5">
                </div>
                <div class="row g-4 justify-content-end">
                    <div class="col-8"></div>
                    <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                        <div class="bg-light rounded" id="cartTotal" th:style="${#lists.isEmpty(cartDTOS)} ? 'display: none;' : ''">
                            <div class="p-4">
                                <h3 class="mb-4">Giỏ hàng <span class="fw-normal">Tổng cộng</span></h3>
                                <div class="d-flex justify-content-between mb-4">
                                    <h5 class="mb-0 me-4">Tạm tính:</h5>
                                    <p class="mb-0 subTotal">$96.00</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <h5 class="mb-0 me-4">Phí vận chuyển</h5>
                                    <div class="">
                                        <p class="mb-0">10000VND</p>
                                    </div>
                                </div>
                            </div>
                            <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                                <h5 class="mb-0 ps-4 me-4">Tổng cộng</h5>
                                <p class="mb-0 pe-4 totalOrder">$99.00</p>
                            </div>
                            <button onclick="payment()" class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4" type="button">Tiến hành thanh toán</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Cart Page End -->
    </div>
<div class="jsContent" layout:fragment="jsContent">
    <script>
        let countCart = document.querySelector(".countCart")
        totalPrice()
        function deleteCart(id){
            const isConfirm = confirm('Are you sure you want to delete this cart?');
            if (isConfirm) {
                let total = document.getElementById("totalPro_"+id).innerHTMLslice(0, -3)
                let subTotal =  document.querySelector(".subTotal").innerHTML.slice(0, -3)
                let count = parseInt(countCart.innerHTML)-1
                countCart.innerHTML = count

                document.querySelector(".subTotal").innerHTML= (parseInt(subTotal)-parseInt(total))+"VND"
                document.querySelector(".totalOrder").innerHTML= (parseInt(subTotal)-parseInt(total)+1)+"VND"
                callDelete("/api/v1/carts/"+id)
                    .then(res => {
                        const categoryElement = document.querySelector('#cart_' + id);
                        categoryElement.remove();
                    })
            }
        }
        function deleteAllCart(button){
            get("/api/v1/users/getUser")
                .then(user =>{
                    const isConfirm = confirm('Are you sure you want to delete all cart?');
                    if (isConfirm) {
                        callDelete("/api/v1/carts/deleteAll/" + user.userId)
                            .then(res =>{
                                let cartItems = document.querySelectorAll(".cart_items")
                                for (const cartItem of cartItems) {
                                    cartItem.remove()
                                }
                            })
                        countCart.innerHTML="0"
                        button.style.display="none"
                        document.getElementById("cartTotal").style.display="none"
                    }
                })
        }
        function renderAddresses(){
            get("/api/v1/users/getUser")
                .then(user =>{
                    get("/api/v1/addresses/"+user.userId)
                        .then(addresses => {
                            let html=``
                            for (const address of addresses) {
                                html+=` <option class="cartId" value="${address.id}">${address.address}</option>`
                            }
                            document.querySelector(".addresses").innerHTML=html
                        })
                })
        }
        function totalPrice(){
           let quantiies = document.querySelectorAll(".quantityCart")
           let prices = document.querySelectorAll(".price")
           let totals = document.querySelectorAll(".toTal")
           let subTotal=0
            for (let i = 0; i < totals.length; i++) {
                let quantity = parseInt(quantiies[i].value)
                let price = parseInt(prices[i].innerHTML)
                let total= quantity*price

                totals[i].innerHTML=total
                subTotal+= total
            }
            document.querySelector(".subTotal").innerHTML= subTotal+"VND"
            document.querySelector(".totalOrder").innerHTML= (subTotal+10000)+"VND"
        }
        let desBtns=document.querySelectorAll(".desbtn")
        let quantityCarts =document.querySelectorAll(".quantityCart")
        for (let i=0;i<desBtns.length; i++) {
            if (quantityCarts[i].value==1){
                desBtns[i].style.display="none"
            }
        }
        function updateQuantity(action,id,price){
            let total = document.getElementById("totalPro_"+id)
            let oldQuantity = document.getElementById("quantity_"+id).value
            let subTotal =  document.querySelector(".subTotal").innerHTML.slice(0, -3)

            switch (action) {
                case "+":
                    total.innerHTML= parseInt(total.innerHTML)+price
                    document.getElementById("desc_"+id).style.display="block"
                    document.querySelector(".subTotal").innerHTML= (parseInt(subTotal)+price)+"VND"
                    document.querySelector(".totalOrder").innerHTML= (parseInt(subTotal)+price+10000)+"VND"
                    put("/api/v1/carts/"+id,{quantity: 1})
                    break
                case "-":
                    oldQuantity = parseInt(oldQuantity)-1
                    if(oldQuantity==1) {
                        document.getElementById("desc_"+id).style.display="none"
                    }
                    total.innerHTML= parseInt(total.innerHTML)-price
                    document.querySelector(".subTotal").innerHTML= (parseInt(subTotal)-price)+"VND"
                    document.querySelector(".totalOrder").innerHTML= (parseInt(subTotal)-price+10000)+"VND"
                    put("/api/v1/carts/"+id,{quantity: -1})
                    break
            }
        }
        function payment(){
            let description  = document.querySelector(".description").value
            let address = document.querySelector(".addresses").value
            let totalOrder = document.querySelector(".totalOrder").innerHTML.slice(0, -3)
            let method = document.getElementById("method").value
            let  formValue ={
                cartIds: [],
                userId: 0,
                addressId: address,
                description: description,
                productIds: [],
                quantities: [],
                totalOrder: totalOrder,
                status: method
            }
            post("/api/v1/orders",formValue)
                .then(response=>{
                   if (method=="momo"){
                       post("/api/payment/momo/"+totalOrder)
                           .then(res=>{
                               window.location.href=res.payUrl
                           })                   }else {
                       get("/api/v1/payment/vn-pay",{amount:totalOrder,bankCode:"NCB",address: address,description: description})
                           .then(res=>{
                               window.location.href=res.paymentUrl
                           })
                   }
                    // window.location.href= "/order/view"
                })
        }
        renderAddresses()
    </script>
</div>
</body>
</html>
