<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/admin-layout">

<head>
	<meta charset="ISO-8859-1">
	<title>Show Suppliers List</title>
</head>

<body>
	<div layout:fragment="content">
		<h1>Suppliers List</h1>
		<form id="supplier-filter-form">
			<div class="form-group">
				<input class="form-control" name="name" placeholder="Search by Supplier Name" />
			</div>
			<button class="btn btn-primary" type="submit">Search</button>


		</form>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Supplier Name</th>
					<th scope="col">Phone</th>
					<th scope="col">Description</th>
					<th scope="col">Email</th>
					<th scope="col">Created Date</th>
					<th scope="col">modifierDate</th>
					<th scope="col">Created By</th>
					<th scope="col">email</th>
					<th scope="col">Latest Date Modified</th>
				</tr>
			</thead>
			<tbody id="supplierList">
			</tbody>
		</table>
		<div id="demo"></div>




		<script>
			let formValue = {}
			const searchForm = document.getElementById("supplier-filter-form")
			searchForm.addEventListener('submit', (e) => {
				e.preventDefault()
				formValue = formToObject("#supplier-filter-form");
				getStudentandRender({
					page: 1,
					limit: limit
				})
			})


			const limit = 5
			const _$ = $;
			function renderSupplier(respond) {
				let html = ``;
				for (const a of respond.data) {
					console.log(a)
					html += `
								<tr id="supplier_${a.supplierId}">
									<td>${a.supplierId}</td>
									<td>${a.name}</td>
									<td>${a.phone}</td>
									<td>${a.description}</td>
									<td>${a.email}</td>
									<td>${a.createDate}</td>
									<td>${a.modifierDate}</td>
									<td>${a.createBy}</td>
									<td>${a.modifierBy}</td>
									<td>
										<a href="/admin/supplier/${a.supplierId}">
											<button class="btn btn-primary">Update</button>
										</a>
										<button onclick="deleteSupplier(${a.supplierId})" class="btn btn-danger">Delete</button>
									</td>
								</tr>
							`;
				}
				document.getElementById('supplierList').innerHTML = html
			}

			function getStudentandRender({page, limit}) {
				get(`/admin/api/V1/supplier`, {
					page,
					limit, ...formValue
				})
					.then(respond => {
						renderSupplier(respond)
						_$("#demo").pagination("destroy");
						const {page, totalItems, limit} = respond;

						showPagination({
							totalItems: totalItems,
							limit,
							currentPage: page,
							onPageClick: function (pageNumber) {
								getStudentandRender({page: pageNumber, limit})
								console.log(pageNumber)
							}
						})
					})
			}

			function deleteSupplier(supplierId) {
				const isConfirm = confirm('Bạn có chắc muốn xóa nhà cung cấp này không');
				if (isConfirm) {
					callDelete('/admin/api/V1/supplier/' + supplierId)
						.then(res => {
							const supplierElement = document.querySelector('#supplier_' + supplierId)
							supplierElement.remove();
						})
				}
			}

			showPagination({
				totalItems: 1,
				limit,
				currentPage: 1,
				onPageClick: () => { }
			})

			getStudentandRender({
				page: 1,
				limit: limit
			})
		</script>
	</div>

</body>

</html>