<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/admin-layout">

<head>
	<meta charset="ISO-8859-1">
	<title>Create Role</title>
</head>

<body>
	<div layout:fragment="content">
		<h1>Create Role</h1>
		<form id="createRole" class="addform">
			<div class="form-group">
				<label>Role Name</label>
				<input name="name" class="form-control" placeholder="Role Name" required>
			</div>
			<div class="form-group">
				<label>Code</label>
				<input name="code" class="form-control" placeholder="Role Id" required>
			</div>
			<button type="submit" class="btn btn-primary">Create</button>
		</form>





		<script>
			const createForm = document.getElementById("createRole")
			createForm.addEventListener('submit', (e)=> {
				e.preventDefault();
				const formValue = formToObject("#createRole")
				post("/admin/api/v1/roles", formValue)
				.then(	window.location.href="/admin/role/search")
			})
		</script>
	</div>

</body>

</html>