<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/admin-layout">

<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>

<body>
<div layout:fragment="content">
    <h1>Tạo Tài Khoản</h1>
    <form id="createUser" class="addform">
        <div class="form-group">
            <label>Tên đăng nhập</label>
            <input name="username" class="form-control" placeholder="Nhập tên đăng nhập" required>
        </div>
        <div class="form-group">
            <label>Họ</label>
            <input name="firstName" class="form-control" placeholder="Nhập họ" required>
        </div>
        <div class="form-group">
            <label>Tên</label>
            <input name="lastName" class="form-control" placeholder="Nhập tên" required>
        </div>
        <div class="form-group">
            <label>Số điện thoại</label>
            <input name="phoneNumber" type="number" class="form-control" placeholder="Nhập số điện thoại" required>
        </div>
        <div class="form-group">
            <label>Quyền</label>
            <select class="form-control" id="renderRole" name="roleId" required></select>
        </div>
        <div class="form-group">
            <label>Mật khẩu</label>
            <input name="password" type="password" class="form-control" placeholder="Nhập mật khẩu" required>
        </div>
        <div class="form-group">
            <label>Xác nhận mật khẩu</label>
            <input name="confirmPassword" type="password" class="form-control" placeholder="Nhập lại mật khẩu" required>
        </div>
        <button type="submit" class="btn btn-primary">Tạo</button>
    </form>






    <script>
        const createForm = document.getElementById("createUser")
        createForm.addEventListener('submit', (e)=> {
            e.preventDefault();
            const formValue = formToObject("#createUser")
            post("/api/v1/users/admin/createUser", formValue)
                .then(	window.location.href="/admin/role/user")
        })

        get("/admin/api/v1/roles")
            .then(roles => {
                let html= `<option>Choose role</option>`
                for (const role of roles) {
                   html += `<option value="${role.roleId}">${role.name}</option>`
                }
                document.getElementById("renderRole").innerHTML = html
            })
    </script>
</div>

</body>

</html>