<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/admin-layout">

<head>
	<meta charset="UTF-8">
	<title>Show List Roles</title>
</head>

<body>
	<div layout:fragment="content">
		<h1>Danh Sách Vai Trò</h1>
		<form id="seacrch-filter-role">
			<div class="form-group">
				<label></label>
				<input class="form-control" name="code" placeholder="Nhập mã">
			</div>
			<button type="submit" class="btn btn-primary">Tìm kiếm</button>
		</form>

		<table class="table">
			<thead class="thead-dark" id="role-filter-form">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Tên Vai Trò</th>
				<th scope="col">Mã</th>
				<th scope="col">Thêm</th>
			</tr>
			</thead>
			<tbody id="list">
			</tbody>
		</table>


		<script>
			
			function deleteRole(roleId){
				const isConfirm = confirm('Are you sure you want to delete this role?');
				if (isConfirm) {
					callDelete('/admin/api/v1/roles/' + roleId)
						.then(res => {
							const roleElement = document.querySelector('#roleId_' + roleId)
							roleElement.remove();
						})
				}
			}
			
			function renderRole(roles){
				let html = ``;
						for (const a of roles) {
							html += `
						<tr id="roleId_${a.roleId}">
							<th scope="col">${a.roleId}</th>
							<th scope="col">${a.name}</th>
							<th scope="col">${a.code}</th>
							<th scope="col">
								<a href="/admin/role/${a.roleId}">
											<button class="btn btn-primary">Sửa</button>
										</a>
								<button class="btn btn-danger" onclick="deleteRole(${a.roleId})">Xóa</button>
								</th>
							
						</tr>
					`
						}
						document.getElementById('list').innerHTML = html
			}
			
			function getRoleAndRender() {
				get('/admin/api/v1/roles', {...formValue})
					.then(roles => {
						renderRole(roles)
					})
			}
				let formValue = {};
			const searchForm = document.getElementById("seacrch-filter-role")
			searchForm.addEventListener('submit', (e) => {
				e.preventDefault();
				formValue = formToObject("#seacrch-filter-role")
				getRoleAndRender()
			})
			
			getRoleAndRender()
		</script>
	</div>
</body>

</html>