<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/admin-layout">

<head>
	<meta charset="UTF-8">
	<title>Show Roles</title>
</head>

<body>
	<div class="user" layout:fragment="content">
		<h1>Danh Sách Người Dùng</h1>
		<style>
			.user {
				padding: 70px 70px 70px 20px;
				position: relative;
			}

			.user .customAddRole {
				position: absolute;
				top: 10%;
				left: 30%;
				border: 2px solid black;
				width: 400px;
				height: 400px;
				background-color: white;
				padding: 20px;
				display: none;
			}
		</style>

		<div class="modal fade addRole1" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5>Danh Sách Người Dùng</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form id="addrole">
							<div class="form-group">
								<input style="width: 80%;" class="form-control" id="updateId" name="userId" type="hidden">

								<label style="font-weight: bold;">Chọn Vai Trò: </label>
								<select class="form-control" id="allRole" name="roleId">
									<option>Chọn vai trò</option>
								</select>
							</div>
							<button onclick="updateRole()" type="submit" class="btn btn-primary">Cập Nhật</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade deleteRole1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5>Danh Sách Người Dùng</h5>
						<button type="button" class="close" onclick="close1()" data-dismiss="modal" aria-label="Đóng">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form id="deleterole">
							<div class="form-group">
								<input style="width: 80%;" class="form-control" id="deleteId" name="userId" type="hidden">

								<label style="font-weight: bold;">Chọn Vai Trò Cần Xóa: </label>
								<select class="form-control" id="deleteRoleUserId" name="roleId">
									<option>Chọn vai trò</option>
								</select>
							</div>
							<button onclick="getAndDeleteRoleName()" type="submit" class="btn btn-primary">Xóa</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<form id="seacrch-filter-user">
			<div class="form-group">
				<label></label>
				<input class="form-control" name="username" placeholder="Tìm kiếm theo tên người dùng">
			</div>
			<button type="submit" class="btn btn-primary">Tìm kiếm</button>
		</form>


		<table class="table">
			<thead class="thead-dark" id="role-filter-form">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Tên Người Dùng</th>
				<th scope="col">Vai Trò</th>
				<th scope="col">Họ</th>
				<th scope="col">Tên</th>
				<th scope="col">Số Điện Thoại</th>
				<th scope="col">Ngày Tạo</th>
				<th scope="col">Ngày Tạo</th>
				<th scope="col">Người Tạo</th>
				<th scope="col">Ngày Chỉnh Sửa</th>
				<th scope="col">Hành Động</th>
			</tr>
			</thead>
			<tbody id="list">
			</tbody>
		</table>
		<div id="demo"></div>

		<script>
			const limit = 6;
			const _$ = $;
			let formValue = {};

			function showAddRole(userId) {
				let roleUsers = document.querySelectorAll(".roleUser_"+userId)
				document.getElementById("updateId").value = userId
				get("/admin/api/v1/roles")
						.then(roles => {
							let html = '<option>Chọn</option>';
							for (const role of roles) {
								let count = 0
								for (const roleUser of roleUsers) {
									if(role.code == roleUser.innerHTML){
										count++
									}
								}
								if (count==0){
									html+=`<option value="${role.roleId}">${role.name}</option>`
								}
							}
							document.getElementById("allRole").innerHTML= html
						})
			}
			function cancelAddRole() {
				window.location.href = '/admin/role/user'
			}
			function updateRole() {
				const roleValue = formToObject("#addrole");
				const roleId = document.getElementById("allRole").value
				const {userId} = roleValue;
				pat("/api/v1/users/admin/" + userId + "/" + roleId)
			}


			function renderUser(users) {
				let html = ``;
				for (const a of users.data) {
					let roleNameHTML = ``
					for (const role of a.roleName) {
						roleNameHTML += `
									<p class="roleUser_${a.userId}">${role}</p>
							`
					}
					html += `
						<tr id="userId_${a.userId}">
							<th scope="col">${a.userId}</th>
							<th scope="col">${a.username}</th>
							<th scope="colgroup">${roleNameHTML}</th>
							<th scope="col">${a.firstName}</th>
							<th scope="col">${a.lastName}</th>
							<th scope="col">${a.phoneNumber}</th>
							<th scope="col">${a.createdDate}</th>
							<th scope="col">${a.modifierDate}</th>
							<th scope="col">${a.createdBy}</th>
							<th scope="col">${a.modifierBy}</th>
						
							<th scope="col">
								<button type="button" class="btn btn-primary" onclick="showAddRole(${a.userId})" data-toggle="modal" data-target="#exampleModal">
								 Thêm quyền
								</button>
								<button type="button" class="btn btn-danger" onclick="deleteRole(${a.userId})">
								  Xóa quyền
								</button>
								<button type="button" class="btn btn-danger" onclick="deleteUser(${a.userId})">
								  Xóa TK
								</button>
								</th>
						</tr>
					`
				}
				document.getElementById('list').innerHTML = html
			}
			function deleteRole(userId){
				document.getElementById("deleteId").value= userId
				document.querySelector(".deleteRole1").style.display= "block"
				document.querySelector(".deleteRole1").style.paddingRight= "15px"
				document.querySelector(".deleteRole1").classList.add("show")

				let roleUsers = document.querySelectorAll(".roleUser_"+userId)
				let html= `<option>Chọn</option>`
				for (const roleUser in roleUsers) {
					html+=`<option value="${roleUser.roleId}">${roleUser.innerHTML}</option>`
				}
				get("/admin/api/v1/roles")
						.then(roles => {
							let html = '<option>Chọn</option>';
							for (const role of roles) {
								let count = 0
								for (const roleUser of roleUsers) {
									if(role.code == roleUser.innerHTML){
										count++
									}
								}
								if (count!=0){
									html+=`<option value="${role.roleId}">${role.name}</option>`
								}
							}
							document.getElementById("deleteRoleUserId").innerHTML= html
						})
			}
			function close1(){
				document.querySelector(".deleteRole1").style.display = "none";
				document.querySelector(".deleteRole1").style.paddingRight = "0";
				document.querySelector(".deleteRole1").classList.remove("show");
			}
			function deleteUser(userId){
					const isConfirm = confirm('Bạn có chắc muốn xóa không');
						if (isConfirm) {
							callDelete('/api/v1/users/' + userId)
								.then(res => {
									const userElement = document.querySelector('#userId_' + userId)
									userElement.remove();
								})
						}
			}
			
			function getAndDeleteRoleName(){
				formValue = formToObject("#deleterole")
				const {userId} = formValue
				const roleId = document.getElementById("deleteRoleUserId").value
				document.getElementById("custom").addEventListener('submit', (e) => {
				const isConfirm = confirm('Bạn có chắc muốn xóa không');
					if (isConfirm) {
						callDelete('/api/v1/users/admin/deleteRole/' + userId+'/'+roleId)
					}
					})
			}
			
			function getUserAndRender({page, limit}) {
				get('/api/v1/users/admin/getAll', {
					page,
					limit, ...formValue
				})
					.then(users => {
						renderUser(users)
						_$("#demo").pagination("destroy")
						const {page, totalItems, limit} = users;

						showPagination({
							totalItems: totalItems,
							limit,
							currentPage: page,
							onPageClick: function (pageNumber) {
								getUserAndRender({page: pageNumber, limit})
								console.log(pageNumber)
							}
						})
					})
			}
			const searchForm = document.getElementById("seacrch-filter-user")
			searchForm.addEventListener('submit', (e) => {
				e.preventDefault();
				formValue = formToObject("#seacrch-filter-user")
				getUserAndRender({
					page: 1,
					limit: limit
				})
			})

			getUserAndRender({
				page: 1,
				limit: limit
			})

		</script>
</body>

</html>