<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/admin-layout">

<head>
	<meta charset="ISO-8859-1">
	<title>Update Role</title>
</head>

<body>
	<div layout:fragment="content">

		<form id="updateRole" class="addform">
			<input name="roleId" type="hidden" th:value="${a.roleId}">
			<div class="form-group">
				<label>Role Name</label>
				<input name="name" class="form-control" th:value="${a.name}" placeholder="nhập tên">
			</div>
			<div class="form-group">
				<label>Code</label>
				<input name="code" class="form-control" th:value="${a.code}" placeholder="nhập role">
			</div>
			<button type="submit" class="btn btn-primary">cập nhật</button>
		</form>



		<script>
			const updateForm = document.getElementById("updateRole");
			updateForm.addEventListener('submit', (e) => {
				e.preventDefault();
				const formValue = formToObject("#updateRole")
				const {roleId} = formValue
				put("/admin/api/v1/roles/" + roleId, formValue)
					.then(response => {
						window.location.href = '/admin/role/search'
					})
			})
		</script>
	</div>

</body>

</html>